{% extends "core/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-6">
            <p>
                ¡Bienvenido a [Nombre de tu Página], el destino definitivo para los amantes del conocimiento y la diversión! Aquí en [Nombre de tu Página], estamos comprometidos en proporcionarte la mejor experiencia de trivia, donde la emoción del aprendizaje se encuentra con la emoción del juego.
            </p>
        </div>
    </div>
    <div class="row  justify-content-center my-3">
        <div class="col-6">
            <h4>¿Quiénes Somos?</h4>
            <p>Somos un apasionado equipo de entusiastas de la trivia, diseñadores creativos y desarrolladores innovadores que se han unido para crear una plataforma única. Nos motiva la idea de construir una comunidad global donde personas de todas partes puedan disfrutar de la emoción de la competencia amistosa y el descubrimiento constante.</p>
        </div>
    </div>
    <div class="row  justify-content-center my-3">
        <div class="col-6">
            <h4>¡Únete a Nosotros!</h4>
            <p>Estamos emocionados de tenerte aquí y esperamos que te unas a nosotros en esta emocionante aventura de trivia. Si tienes alguna pregunta, comentario o simplemente quieres decir hola, ¡no dudes en ponerte en contacto con nosotros!</p>
            <p>¡Gracias por elegir [Nombre de tu Página] para tu dosis diaria de diversión intelectual!</p>
            <p>El Equipo de [Nombre de tu Página]</p>
        </div>
    </div>
</div>

{% endblock content %}