{% load static %}

{% url 'home' as url_home %}
{% url 'contact' as url_contact %}
{% url 'about' as url_about %}
{% url 'trivia:list' as url_trivia_list %}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="navbar navbar-expand-md mb-md-5 py-md-1 sticky-top bg-light" role="navigation">
      <div class="container-md">
        <a class="navbar-brand">
          <img src="{% static 'logo.jpg' %}" style="width:3rem" alt="logo">
          Quizzy: Adventure
        </a>
        <nav class="navbar-nav me-auto">
          <a {% if request.path == url_home %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{url_home}}" >Home</a>
          <a {% if request.path == url_contact %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{url_contact}}">Contact</a>
          <a {% if request.path == url_about %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{url_about}}" >About</a>
          <a {% if request.path == url_created %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{url_trivia_list}}" >Trivias</a>
        </nav>
        <div class="navbar-text">
          ¡Desafía tu mente, conquista la trivia!
        </div>
      </div>
    </div>
    
    {% block content %}{% endblock content %}

    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>