{% extends "core/base.html" %}

{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">¡Contáctanos!</h1>
                <p>
                    ¡Nos encantaría escuchar de ti y saber cómo podemos mejorar tu experiencia con nuestra página de trivia. Si tienes preguntas, sugerencias o simplemente quieres decir hola, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Formulario de Contacto:</h4>
                <p>Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>
                [Formulario de Contacto]
            </div>
            <div class="col-6">
                <h4>Correo Electrónico:</h4>
                <p>
                    Si prefieres enviarnos un correo electrónico directamente, puedes hacerlo a [correo electrónico].
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Redes Sociales:</h4>
                <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades, actualizaciones y eventos especiales.</p>
                [Enlace a Facebook]
                [Enlace a Twitter]
                [Enlace a Instagram]
            </div>
            <div class="col">
                <h4>Equipo de Soporte:</h4>
                <p>Nuestro equipo de soporte está disponible para ayudarte en cualquier problema que puedas tener. Nos esforzamos por brindar respuestas rápidas y soluciones efectivas.</p>
                [[Enlace a Soporte]
            </div>
        </div>
    </div>


{% endblock content %}